[submodule "community"]
	path = community
	url = https://github.com/mlperf/community.git
[submodule "object_detection/pytorch/pytorch"]
	path = object_detection/pytorch/pytorch
	url = https://github.com/pytorch/pytorch.git
[submodule "object_detection/pytorch/object_detection/pytorch/detectron"]
	path = object_detection/pytorch/object_detection/pytorch/detectron
	url = https://github.com/ddkang/Detectron.git
